{% extends "base.html" %} {% block body %} {% import "helpers/forms.html" as forms %} {{super()}}

<head>
    <style>
        /* Add space between vega-embed links  */
        .vega-actions a {
          margin-right: 5px;
        }
    </style>

    <!-- Begin code which displays the valuation graph. -->
    <meta charset="utf-8">
    <!-- Install with npm install vega -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/2.6.5/vega.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/1.3.1/vega-lite.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/2.2.0/vega-embed.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/market_plot.js') }}"></script>
    <script>
        var embedSpec = {
          mode: "vega", 
          spec: vSpec,
          actions: false
        };
    
        vg.embed("#market_plot", embedSpec, function(error, result) {
    
        });
    </script>
    <!-- End code which displays the valuation graph. -->
</head>


<section id="introduction">
    <!-- 'What We Do' paragraph -->
    <div>
        <br> In planning for retirement, it is difficult to obtain good answers to some of the most important questions. How much money must be saved to achieve a desired lifestyle? How should investments be divided among safe and risky assets? How should
        this division be adjusted over time as personal circumstances and economic conditions change?
        <br><br> For many decades, academics and serious practitioners have advanced our knowledge of investments and asset allocation. The benefits of this knowledge are inaccessible to most people -- difficult to understand and challenging to apply.
        2PiFinancial seeks to bridge the gap between knowledge and the ability to utilize that knowledge. 2PiFinancial provides a set of advanced tools and information that help individuals manage the financial aspects of their lives -- free of charge.
    </div>
    </p>
</section>


<!-- 'OPEN PLATFORM' paragraphs -->
<section id="section1">
    <!-- openPlatformShort paragraph -->
    <div id="openPlatformShortTxt" style="display:block">
        <h3>OPEN PLATFORM</h3> 
        <p>
        2PiFinancial provides an Open Platform, which means you can use our tools and information regardless of the brokerage or mutual fund companies that you use. 2PiFinancial does not charge for its tools or information. An Open
        Platform allows you to hold your wealth at the financial institution that charges the lowest trading fees, pays the highest interest rate on cash, or provides other valuable services. It is your choice, based on what is most important to you.
        </p>
        <button type="button" onclick="document.getElementById('openPlatformShortTxt').style.display='none';document.getElementById('openPlatformLongTxt').style.display='block'">Show More</button>
        <!-- <span><a href="strategicPopup.html" target="xxx">(more)</a></span></div>  -->
    </div>

    <!-- openPlatformLong paragraph -->
    <div id="openPlatformLongTxt" style="display:none">
        <h3>OPEN PLATFORM</h3> 
        <p>2PiFinancial provides an Open Platform, which means you can use our tools and information regardless of the brokerage or mutual fund companies that you use. 2PiFinancial does not charge for its tools or information. We believe
        zero is the right price for expert financial information. An Open Platform allows you to hold your wealth at the financial institution that charges the lowest trading fees, pays the highest interest rate on cash, or provides other valuable services.
        It is your choice, based on what is most important to you.
        <br><br> 2PiFinancial recommends that you use more than one financial institution. The sad stories surrounding Bernie Madoff make clear what thoughtful investors knew all along, it is risky to leave all of your savings in one place. Institutions
        and individuals that seem unimpeachable are not always so. 2PiFinancial enables you to hold your investments across multiple institutions while managing them cohesively.
        <br><br> 2PiFinancial is an unbiased source of information. We do not sell securities or investment products. We have no preference for any particular ETF or mutual fund, other than to allow use of the vehicle with the lowest fees and expenses.
        Our tools are useful regardless of your choice of securities.
        <!-- <span><a href="strategicPopup.html" target="xxx">(more)</a></span></div>  -->
        </p>       
        <button type="button" onclick="document.getElementById('openPlatformShortTxt').style.display='block';document.getElementById('openPlatformLongTxt').style.display='none'">Show Less</button>
    </div>
</section>


<!-- 'INTEGRATED STRATEGY' paragraph -->
<section id="section2">
    <div id="integratedStrategyShortTxt" style="display:block">
      <h3>INTEGRATED STRATEGY</h3> 
      <p>
      Financial decisions involve trade-offs. 2PiFinancial helps you understand the impact of your choices using an integrated, comprehensive strategy. Important financial decisions include how much to save and critically, how
      to allocate savings among investments. A poor asset allocation, either too risky or not risky enough, can sharply reduce the likelihood of achieving a desired lifestyle. 2PiFinancial enables the management of one's financial life using an integrated,
      comprehensive approach.
      </p>
      <button type="button" onclick="document.getElementById('integratedStrategyShortTxt').style.display='none';document.getElementById('integratedStrategyLongTxt').style.display='block'">Show More</button>
    </div>

    <div id="integratedStrategyLongTxt" style="display:none">
      <h3>INTEGRATED STRATEGY</h3> 
      <p>
      Financial decisions involve trade-offs. 2PiFinancial helps you understand the impact of your choices using an integrated, comprehensive strategy. Important financial decisions include how much to save and critically, how
      to allocate savings among investments. A poor asset allocation, either too risky or not risky enough, can sharply reduce the likelihood of achieving a desired lifestyle. Individuals who are similar in check-the-box criteria like age, wealth, and
      earning potential may optimally choose very different portfolios because of differences in their preferences. Some individuals may prefer a low-risk portfolio that offers a very high likelihood of a modest lifestyle while others prefer to accept
      the risk of targeting a more lavish lifestyle. 2PiFinancial can help construct the portfolio that is right for you.
      <br><br> Financial decisions include not only how to invest for tomorrow but also how to live today. Each of us must decide what career to pursue, how much education to obtain, and when to retire. These difficult decisions should be considered
      in light of one's savings and desired lifestyle. While these decisions are personal, 2PiFinancial can help quantify the impact of alternative choices. You may choose to drive a more expensive car or live in a larger house but you should understand
      how these decisions could affect your quality of life in retirement. 2PiFinancial enables the management of one's financial life using an integrated, comprehensive approach.
      </p>
      <button type="button" onclick="document.getElementById('integratedStrategyShortTxt').style.display='block';document.getElementById('integratedStrategyLongTxt').style.display='none'">Show Less</button>
    </div>

</section>


<section id="section3">
    <!-- DATA DRIVEN paragraph -->
    <div id="dataDrivenShortTxt" style="display:block">
        <h3>DATA DRIVEN</h3> 
        <p> 2PiFinancial believes one should look at history, that is, historical data, when developing a strategic wealth management plan. History provides valuable information. Extracting actionable lessons from the historical record requires
        special skills and analyses. The ability to extract information from data and use that information to develop a strategic wealth management plan is the core of 2PiFinancial's competencies. We are a financial firm, steeped in the theory of investments
        and its practical application. Our models are based on the highest quality research that is relevant for lifetime investing.
        <br><br> Tools and information of the highest quality, offered free of charge in an open platform - that is the promise of 2PiFinancial.
        </p>
        <button type="button" onclick="document.getElementById('dataDrivenShortTxt').style.display='none';document.getElementById('dataDrivenLongTxt').style.display='block'">Show More</button>
    </div>

    <div id="dataDrivenLongTxt" style="display:none">
        <h3>DATA DRIVEN</h3> 
        <p>
        2PiFinancial believes one should look at history, that is, historical data, when developing a strategic wealth management plan. History provides valuable information. Extracting actionable lessons from the historical record requires
        special skills and analyses. The ability to extract information from data and use that information to develop a strategic wealth management plan is the core of 2PiFinancial's competencies. We are a financial firm, steeped in the theory of investments
        and its practical application. Our models are based on the highest quality research that is relevant for lifetime investing.
        <br><br> Most financial advisory firms implement 'Modern Portfolio Theory (MPT),' which refers to the path-breaking work of Harry Markowitz and others. Their work revolutionized professional investing by carefully defining risk and integrating
        risk with expected returns. Markowitz's analysis highlights the importance of diversification and the need to view the risk of a security in terms of its impact on the portfolio rather than the security's stand-alone risk. While the ideas underlying
        MPT remain crucial, the theory was developed 50 years ago. Since that time, there has been much additional research documenting that asset returns are more predictable over the long-term than the short-term and the risk of asset returns varies
        over time, sometimes in predictable ways. 2PiFinancial implements not only the ideas in MPT but also more recent research that is relevant for a long-term investing focus. A long-term focus is fundamental to the philosophy of 2PiFinancial. 2PiFinancial's
        objective is to help you spend, save, and invest so as to maximize your lifetime utility.
        <br><br> Tools and information of the highest quality, offered free of charge in an open platform - that is the promise of 2PiFinancial.
        </p>
        <button type="button" onclick="document.getElementById('dataDrivenShortTxt').style.display='block';document.getElementById('dataDrivenLongTxt').style.display='none'">Show Less</button>
    </div>
</section>


<section id="section4">
    <h3>IS BUY AND HOLD ALWAYS THE BEST STRATEGY?</h3>

    <div id="market_plot"></div>

    <div>
        <p>
        <br> Most experts agree that timing the market, that is, predicting stock returns over the next day, week, or even year, is very difficult. But Eugene Fama and Robert Shiller, Nobel-prize winning economists, agree that there is significant predictability
        in asset returns over the long term. Their research demonstrates that it is possible to identify times when stock prices are more likely to rise substantially, modestly, or not at all. 2PiFinancial has developed a measure of stock market valuation
        that is based on the research of Fama, Shiller, and others. The graph uses color to identify times when the S&P 500, a broad index of stock prices, should rise significantly (the market is 'cheap'), rise modestly (the market is 'fair'), and rise
        little or fall (the market is 'expensive'). Move the cursor over the graph to see how the market performed over various time frames. The average future 10 year real return was over 6.0% when valuation was 'cheap', just under 3% when valuation
        was 'fair' and slightly negative when valuation was 'expensive.'
        </p>
    </div>
</section>


<section id="signup">
    <div>
    <h4>Sign up for access</h4>

    <form action="" method=post class="form-horizontal">
        {{ forms.render(form) }}
        <input type="submit" value="Sign up">
    </form>
    </div>
</section>

<br>

{% endblock %}